work-secrets.zsh
notes.md

dotfiles/.config/*
dotfiles/.config/git/config.local


!dotfiles/.config/
!dotfiles/.config/git
!dotfiles/.config/ghostty
!dotfiles/.config/ghostty/*
!dotfiles/.config/kitty/
!dotfiles/.config/kitty/*
!dotfiles/.config/tiling-assistant/
!dotfiles/.config/tiling-assistant/*
!dotfiles/.config/ulauncher/
!dotfiles/.config/ulauncher/*
!dotfiles/.config/zsh

.zcompdump*
dotfiles/.config/zsh/.zsh_history
