work-secrets.zsh
notes.md

dotfiles/.config/*
dotfiles/.config/git/config.local


!dotfiles/.config/
!dotfiles/.config/git
!dotfiles/.config/ghostty
!dotfiles/.config/ghostty/*
!dotfiles/.config/nvim
!dotfiles/.config/nvim/*
!dotfiles/.config/lazygit/
!dotfiles/.config/lazygit/*
!dotfiles/.config/kitty/
!dotfiles/.config/kitty/*
!dotfiles/.config/tiling-assistant/
!dotfiles/.config/tiling-assistant/*
!dotfiles/.config/ulauncher/
!dotfiles/.config/ulauncher/*
!dotfiles/.config/vim/
!dotfiles/.config/zsh

dotfiles/.config/vim/plugged

.zcompdump*
dotfiles/.config/zsh/.zsh_history
