work-secrets.zsh
notes.md

dotfiles/.config/*
!dotfiles/.config/
!dotfiles/.config/ghostty
!dotfiles/.config/ghostty/*
!dotfiles/.config/kitty/
!dotfiles/.config/kitty/*
!dotfiles/.config/tiling-assistant/
!dotfiles/.config/tiling-assistant/*
!dotfiles/.config/ulauncher/
!dotfiles/.config/ulauncher/*

.zcompdump*
